.article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;

  .search-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .result-header {
      padding: 1rem;
      margin: 1rem 0;
      background: #eee;
      border-radius: 0.2rem;
    }
  }
}
