<mat-card class="article-card"
          [ngClass]="{full: data.showFull}">
  <mat-card-header>

    <div mat-card-avatar
         class="article-header-image">
    </div>

    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>{{ data.subTitle}}</mat-card-subtitle>
    <mat-card-subtitle class="details">{{ data.details}}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
       *ngIf="data.image"
       [src]="data.image"
       alt="Cover Photo">

  <mat-card-content>

    <p class="body">
      {{ data.body}}
    </p>
    ...
  </mat-card-content>

  <mat-card-actions>

    <button mat-button
            (click)="onButtonClicked($event)">
      {{ data.showFull ? 'Less' : 'More'}}
    </button>
  </mat-card-actions>
</mat-card>
